/* BODY */
.body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

/* CENTER */
@media (min-width: 1440px) {
  .center__1440 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }
}

/* FONT */
html {
  font-size: 16px;
}

@media (min-width: 800px) {
  html {
    font-size: 2vw;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 28.6px;
  }
}

.font_size_body {
  font-size: 16px;
}

.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

@media (min-width: 800px) {
  .font_size_2 {
    font-size: 1.25em;
  }
}

.font_size_3 {
  font-size: 1.266em;
}

@media (min-width: 800px) {
  .font_size_3 {
    font-size: 1.563em;
  }
}

.font_size_4 {
  font-size: 1.424em;
}

@media (min-width: 800px) {
  .font_size_4 {
    font-size: 1.953em;
  }
}

.font_size_5 {
  font-size: 1.602em;
}

@media (min-width: 800px) {
  .font_size_5 {
    font-size: 2.441em;
  }
}

.font_size_6 {
  font-size: 1.802em; /* 1.125 */
}

@media (min-width: 800px) {
  .font_size_6 {
    font-size: 3.052em; /* 1.250 */
  }
}

/* HEADER */
.header__img-lg {
  position: relative;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-768x512-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-992x661-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-1200x800-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-1620x1080-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  
  .header__img-sm {
    background-image: url(header/__img-sm/blue-shirt-1-576x384-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    padding-bottom: 66%;
    width: 100%;
  }

}

.header__textbox {
  background-color: #000;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}

@media (min-width: 576px) {
  .header__textbox {
    background-color: rgba(0, 0, 0, .65);
    left: 64%;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1440px) {
  .header__textbox {
    left: 62%;
    right: calc(((100vw - 1440px) / 2) + 1em);
    top: 10%;
    transform: translateY(0);
  }
}

@media (min-width: 1475px) {
  .header__textbox {
    right: calc((100vw - 1440px) / 2);
  }
}

.header__textbox-name {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-unions {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-fields {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  font-size: 16px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1.5em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
}

.header__textbox-agency {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-address {
  color: #707070;
  font-family: 'Belleza', sans-serif;
  font-style: normal;
  margin-bottom: 1em;
  text-align: center;
}

.header__textbox-phone {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-family: 'Belleza', sans-serif;
  margin: 0 auto;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: 250ms;
  width: max-content;
}

.header__textbox-phone:active,
.header__textbox-phone:hover {
  background: #fff;
  color: #000;
}

/* REP CARDS */
.rep-card {
  background: #d6c7b0;
  border-radius: .5em;
  box-sizing: border-box;
  margin-bottom: 3vw;
  padding: 1em;
  width: 90%;
}

@media (min-width: 576px) {
  .rep-card {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .rep-card {
    width: 30%;
  }
}

.rep-card__button {
  border: .125em solid #000;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-family: 'Belleza', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: .2em 0;
  transition: 250ms;
  width: 100%;
}

.rep-card__button:active,
.rep-card__button:focus,
.rep-card__button:hover {
  background: #000;
  color: #d6c7b0;
}

.rep-card__button_icon {
  margin-right: .25em;
}

.rep-card__flexbox {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: .75em;
}

.rep-card__name {
  color: #000;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.rep-card__title {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-transform: uppercase;
}

.rep-card__title-box {
  flex-grow: 1;
}

.rep-deck {
  align-content: flex-start;
  align-items: flex-start;
  background: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2em 0;
}

.rep-icon {
  font-size: 2em;
  margin-right: .25em;
}

/* SECTION */
.section_black {
  background: #000;
}