@media (min-width: 576px) {
  .absolute__1140 {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .absolute__1140 {
    max-width: 1140px;
    top: 10%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

/* HEADER */
.header__textbox {
  background-color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  position: relative;
}

@media (min-width: 576px) {
  .header__textbox {
    background-color: rgba(0, 0, 0, .65);
    margin-left: auto;
    margin-right: 5%;
    width: 33%;
  }
}

@media (min-width: 768px) {
  .header__textbox {
    width: 33%; /* Fallback */
    width: max-content;
  }
}

@media (min-width: 1200px) {
  .header__textbox {
    margin-right: 0;
  }
}

.header__textbox-name {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: 1em;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-unions {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: 1em;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-fields {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  font-size: 16px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: 1.5em;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.header__textbox-agency {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: 1em;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-address {
  color: #707070;
  font-family: 'Belleza', sans-serif;
  font-style: normal;
  margin-bottom: 1em;
  text-align: center;
}

.header__textbox-phone {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-family: 'Belleza', sans-serif;
  margin: 0 auto;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header__textbox-phone:active,
.header__textbox-phone:hover {
  background: #fff;
  color: #000;
}

.header_black {
  background: #000;
}

/* REP CARDS */
.rep-card {
  background: #d6c7b0;
  border-radius: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 3vw;
  padding: 1em;
  width: 90%;
}

@media (min-width: 576px) {
  .rep-card {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .rep-card {
    width: 30%;
  }
}

.rep-card__button {
  border: .125em solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  display: block;
  font-family: 'Belleza', sans-serif;
  text-align: center;
  text-decoration: none;
  padding: .2em 0;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  width: 100%;
}

.rep-card__button:active,
.rep-card__button:focus,
.rep-card__button:hover {
  background: #000;
  color: #d6c7b0;
}

.rep-card__button_icon {
  margin-right: .25em;
}

.rep-card__flexbox {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: .75em;
}

.rep-card__name {
  color: #000;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

.rep-card__title {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-transform: uppercase;
}

.rep-card__title-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.rep-deck {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em 0;
}

.rep-icon {
  font-size: 2em;
  margin-right: .25em;
}

/* SECTION */
.section_black {
  background: #000;
}