/* BODY */
.body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

/* CENTER */
@media (min-width: 1440px) {
  .center__1440 {
    margin: 0 auto;
    max-width: 1440px;
  }
}

/* TOPBAR */
.topbar {
  background: #000;
  box-sizing: border-box;
  padding: 2vw;
}

.topbar__heading {
  background: #000;
  color: #707070;
  font-family: 'Belleza', sans-serif;
  font-size: 9vw;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1vw;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .topbar__heading {
    font-size: 6vw;
    text-align: left;
  }
}

/* NAV */
.topbar__nav {
  align-content: flex-start;
  align-items: flex-start;
  background: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.topbar__nav-item {
  color: #707070;
  flex-grow: 1;
  font-family: 'Belleza', sans-serif;
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 250ms;
}

.topbar__nav-item:hover {
  color: #e6e6e6;
}

.topbar__nav-item_active {
  color: #e6e6e6;
}

/* HEADER */
.header__img-lg {
  position: relative;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-768x512-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-992x661-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-1200x800-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__img-lg {
    background-image: url(header/__img-lg/blue-shirt-1-1620x1080-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 66%;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  
  .header__img-sm {
    background-image: url(header/__img-sm/blue-shirt-1-576x384-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    padding-bottom: 66%;
    width: 100%;
  }

}

.header__textbox {
  background-color: #000;
  box-sizing: border-box;
  padding: 2vw;
  position: relative;
}

@media (min-width: 576px) {
  .header__textbox {
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    width: 33%;
  }
}

.header__textbox-name {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-unions {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-fields {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  font-size: 16px;
  text-align: center;
}

.header__textbox-agency {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.header__textbox-address {
  color: #707070;
  font-family: 'Belleza', sans-serif;
  font-style: normal;
  text-align: center;
}

.header__textbox-phone {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-family: 'Belleza', sans-serif;
  margin: 0 auto;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: 250ms;
  width: max-content;
}

.header__textbox-phone:active,
.header__textbox-phone:hover {
  background: #fff;
  color: #000;
}