.aside__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 150%;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .aside__img {
    background-image: url(aside/aside__img/teal-shirt-600x900-min.jpg);
  }
}

@media (min-width: 992px) {
  .aside__img {
    background-image: url(aside/aside__img/teal-shirt-720x1080-min.jpg);
  }
}

.aside__img-container {
  margin-bottom: 3em;
  width: 100%;
}

.header_black {
  background: #000;
}

.heading_reels {
  color: #d6c7b0;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: .75em 5% .5em 5%;
  text-align: center;
  text-transform: uppercase;
}

.main_black {
  background: #000;
}

.media-flexbox {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5%;
}

@media (min-width: 1500px) {
  .media-flexbox {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .media-flexbox__aside {
    margin: 0 auto 0 0;
    width: 95%;
  }
}

.media-flexbox__flex-item_50 {
  width: 100%;
}

@media (min-width: 576px) {
  .media-flexbox__flex-item_50 {
    width: 50%;
  }
}

/*.media-flexbox {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 1.5em 5%;
}

@media (min-width: 1500px) {
  .media-flexbox {
    margin: 0 0 1.5em 0;
  }
}*/

.media-module {
  margin-bottom: 3em;
}

.media-module__media {
  background-image: linear-gradient(to bottom right, #00264d, #004d99);
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: .5em;
}

.media-module__media_audio {
  padding-bottom: 29.7%;
}

.media-module__media_video {
  padding-bottom: 56.25%;
}

.media-module__text-overlay {
  color: #fff;
  font-family: 'Belleza', sans-serif;
  font-size: 16px;
  left: 50%;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 90%;
}

.media-module__title {
  color: #d6c7b0;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
}

.media-module__title-icon {
  padding: 0 .5em;
}

.media-module__video {
  padding-bottom: 56.25%;
}

@media (min-width: 576px) {
  .media-module_left {
    margin-right: auto;
    width: 95%;
  }
}

@media (min-width: 576px) {
  .media-module_right {
    margin-left: auto;
    width: 95%;
  }
}