/* TOPBAR */
.topbar {
  box-sizing: border-box;
  padding: 0 1em;
}

.topbar_black {
  background: #000;
}

.topbar__flexbox {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .topbar__flexbox {
    align-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
  }
}

.topbar__heading {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .topbar__heading {
    /*display: inline-block;*/
    width: max-content;
  }
}

.topbar__text {
  color: #707070;
  font-family: 'Belleza', sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 2vw;
  margin-inline-end: 0;
  margin-inline-start: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .topbar__text {
    margin-bottom: 0;
    text-align: left;
  }
}

/* TOPBAR NAV */
.topbar__navbar {
  box-sizing: border-box;
  display: block;
  margin-bottom: .5em;
  width: 100%;
}

@media (min-width: 576px) {
  .topbar__navbar {
    margin-bottom: 0;
    width: max-content;
  }
}

.topbar__nav_flexbox {
  align-content: flex-start;
  align-items: flex-start;
  background: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 576px) {
  .topbar__nav_flexbox {
    justify-content: flex-end;
  }
}

.topbar__nav-item {
  color: #707070;
  flex-grow: 1;
  font-family: 'Belleza', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 250ms;
}

@media (min-width: 576px) {
  .topbar__nav-item {
    flex-grow: 0;
    margin-left: 1em;
    text-align: right;
  }
}

.topbar__nav-item:hover {
  color: #e6e6e6;
}

.topbar__nav-item_active {
  color: #e6e6e6;
}