.footer {
  padding-bottom: 2em;
}

.footer__flex-item {
  width: auto;
}

.footer__icon {
  display: block;
  font-size: 60px;
  margin: .2em;
  text-align: center;
}

.footer__icon-link,
.footer__icon-link:focus,
.footer__icon-link:link,
.footer__icon-link:visited {
  color: #707070;
  outline: none;
  text-decoration: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.footer__icon-link:active,
.footer__icon-link:hover {
  color: #fff;
}

.footer__icon-row {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1.5em;
}

.footer_black {
  background: #000;
}

.footer-link_silver,
.footer-link_silver:link,
.footer-link_silver:visited {
  border-bottom: .1em solid #707070;
  color: #707070;
  outline: none;
  text-decoration: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.footer-link_silver:active,
.footer-link_silver:focus,
.footer-link_silver:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.footer-text {
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: .75em;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.footer-text_silver {
  color: #707070;
}