/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.aside__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 150%;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .aside__img {
    background-image: url(../img/aside__img/teal-shirt-600x900-min.jpg);
  }
}

@media (min-width: 1200px) {
  .aside__img {
    background-image: url(../img/aside__img/teal-shirt-720x1080-min.jpg);
  }
}

.aside__img-container {
  margin-bottom: 3em;
  width: 100%;
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .center__1140 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .center__1440 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }
}

.header_black {
  background: #000;
}

.heading_reels {
  color: #d6c7b0;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  padding: .75em 5% .5em 5%;
  text-align: center;
  text-transform: uppercase;
}

.main_black {
  background: #000;
}

.media-flexbox {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}

@media (min-width: 1500px) {
  .media-flexbox {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .media-flexbox__aside {
    margin: 0 auto 0 0;
    width: 95%;
  }
}

.media-flexbox__flex-item_50 {
  width: 100%;
}

@media (min-width: 576px) {
  .media-flexbox__flex-item_50 {
    width: 50%;
  }
}

.media-module {
  margin-bottom: 3em;
}

.media-module__media {
  height: 0;
  margin-bottom: .5em;
  position: relative;
  width: 100%;
}

.media-module__media_audio {
  height: auto;
}

.media-module__media_audio_iframe {
  border: none;
}

.media-module__media_video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.media-module__media_video_iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.media-module__title {
  color: #d6c7b0;
  font-family: 'Belleza', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.media-module__title-icon {
  padding: 0 .5em;
}

.media-module__video {
  padding-bottom: 56.25%;
}

@media (min-width: 576px) {
  .media-module_left {
    margin-right: auto;
    width: 95%;
  }
}

@media (min-width: 576px) {
  .media-module_right {
    margin-left: auto;
    width: 95%;
  }
}